<!-- delete_contact.html -->
{% extends 'contactmanagement/base.html' %}
{% load static %}
{% block title %}Delete Contact{% endblock title %}
{% block main_content %}
<body style="background-image: url('{% static "img.jpg" %}'); background-size: cover;">
<section class="container">
    <div class="row justify-content-center text-center mt-5">
        <div class="col-sm-7">
            <h2 style="color: black; font-family: "Fantasy", Helvetica, sans-serif;">Confirm Delete</h2>
        </div>
    </div>
    <p style="font-size: 24px">Are you sure you want to delete {{ contact.name }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'contact_list' %}" class="btn btn-primary">Cancel</a>
    </form>

    <footer>
        <div class="row justify-content-start text-center mt-8">
            <div class="col-sm-12">
                <p style="font-size: 18px; color: black; margin-bottom: 20px;">&#169created by Anusha_Manchi_Satish</p>
            </div>
        </div>
    </footer>
</section>
{% endblock main_content %}
