{% extends 'contactmanagement/base.html' %}

{% block title %}Home{% endblock title %}

{% block main_content %}
<body style="background-color: #e6f7ff";>
<section class="container">
    <div class="row justify-content-center text-center mt-6">
        <div class="col-sm-8">
            <h1 style="color: #333;">Welcome to Contact Management</h1>
        </div>
    </div>

    <div class="row justify-content-start text-center mt-5">
        <div class="col-sm-3">
            <a href="{% url 'new_contact_page' %}" class="btn btn-primary">Create a New Contact</a>
        </div>
    </div>

    <div class="row justify-content-start text-center mt-3">
        <div class="col-sm-12">
            <!-- Empty table with headers for Contact Name, Email, and Created Time -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Contact Name</th>
                        <th>Email</th>
                        <th>Created Time</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Table body is currently empty, you can add rows dynamically with data -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-start text-center mt-15">
        <div class="col-sm-12">
            <p style="font-size: 18px; color: black; margin-bottom: 20px;">@created by Anusha_Manchi</p>
        </div>
    </div>
</section>
{% endblock main_content %}
