<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Contact</title>
</head>
<body style="background-color: #e6f7ff;">
    <div style="text-align: center; padding: 20px;">
        <h1>Create a Contact</h1>

        <form method="post" action="{% url 'new_contact_page' %}" style="margin-top: 20px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" style="background-color: red;">Submit</button>
            <a href="{% url 'contact_list' %}" class="btn btn-danger" style="margin-left: 10px;">Cancel</a>
        </form>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <p style="font-size: 14px;">@created by Anusha_Manchi</p>
    </div>
</body>
</html>
