{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Contact</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-image: url('{% static "contact-us.jpg" %}'); background-size: cover;">
    <div class="container mt-5">
        <div class="card mx-auto" style="max-width: 370px; padding: 20px;">
            <h2 class="text-center mb-4">Create a new Contact</h2>

            <form method="post" action="{% url 'new_contact_page' %}">
                {% csrf_token %}

        
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <p class="text-danger">{{ field.errors|striptags }}</p>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" style="background-color: red">Submit</button>
                    <a href="{% url 'contact_list' %}" class="btn btn-secondary ml-2">Cancel</a>
                    
                </div>
            </form>
        </div>
    </div>
    <footer>
        <div class="row justify-content-start text-center mt-8">
            <div class="col-sm-12">
                <p style="font-size: 18px; color: black; margin-bottom: 20px;">&#169created by Anusha_Manchi_Satish</p>
            </div>
        </div>
    </footer>
</body>
</html>
